body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.container {
  background-color: limegreen;
  padding-right: 15px;
  padding-left: 15px;
  /*margin-right: auto;*/
  margin: 0 auto;
  /*margin-left: auto;*/
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.myList {
	list-style-type: square;
}

.myTable {
	width: 100%;
}

.myTable th, td {
	border: 1px grey solid;
}

.myTable tr:nth-of-type(odd) {
	color: limegreen;
}